{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH page #}
{# This page can use any data from http:localhost:2000/cms/#/form/page/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this page's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <article>
    <h1>{{ item.name }}</h1>
    <center><img src="{{ item.image|imageSize(700) }}"></center>
    <hr>
    {{ item.text|safe }}
  </article>
{% endblock %}
